.newReleases {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #efeee0;
  margin-top: 1em;
  margin-left: 2em;
}
.image-wrapper {
  display: flex;
  overflow-x: auto;
  width: 100%;
  margin-top: 1em;
}
.image img {
  width: 130px;
  margin-left: 0.8em;
  border-radius: 10px;
}
