body {
  background: #1e1e1e;
}
.navigate-div-container {
  display: flex;
  flex-direction: column;
  background: #1d2123;
  gap: 12px;
  width: 40px;
  padding: 0.5em;
  border-radius: 6px;
  margin-left: 30px;
  margin-top: 15px;
}
.navigate-div-container img {
  width: 20px;
}
.personal-info-container {
  display: flex;
  flex-direction: column;
  background: #1d2123;
  gap: 12px;
  width: 40px;
  padding: 0.5em;
  border-radius: 6px;
  margin-left: 30px;
  margin-top: 15px;
}
@media (max-width: 500px) {
  .navigate-container {
    position: absolute;
  }
  .personal-info-container {
    background: none;
    gap: 5px;
  }
  .navigate-div-container {
    background: none;
    gap: 5px;
  }
}
