* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  background: #1d2123;
}

.navigate-div-container {
  display: flex;
  flex-direction: column;
  background: #1d2123;
  gap: 12px;
  width: 52px;
  padding: 0.8em;
  border-radius: 6px;
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 3.5rem;
}
.navigate-div-container img {
  width: 20px;
  padding-top: 0.5em;
  color: transparent;
  margin-top: 12px;
}
.personal-info-container {
  display: flex;
  flex-direction: column;
  background: #1d2123;
  gap: 12px;
  width: 52px;
  padding: 0.8em;
  border-radius: 6px;
  margin-left: 30px;
  margin-top: 15px;
}
.img h4 {
  display: none;
}
.FirstContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}
.secondContainer {
  width: 50%;
  height: 373px;
  background: #609eaf;
  margin-top: 1em;
  border-radius: 20px;
  display: flex;
  min-width: 295px;
}
.bgIMAGE {
  position: relative;
  top: -574px;
}
.align-container {
  margin-left: 1rem;
}
.textContainer h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #ffffff;
  padding: 2em;
}
.textContainer h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 120%;
  color: #ffffff;
  padding: 0.2em;
  margin-top: 1.8em;
  white-space: nowrap;
}
.textContainer p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
  padding: 0.9em;
}
.imgEllipse {
  display: flex;
  justify-content: space-around;
}
.Ellipse {
  display: flex;
  margin-left: 1em;
}
.Ellipse img {
  margin: 0 -9px;
}
.love {
  display: flex;
}
.love h5 {
  white-space: nowrap;
  color: #ffffff;
  margin-left: 0.5em;
}
.love img {
  width: 20px;
  object-fit: contain;
}

.thirdContainer h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #efeee0;
  margin-bottom: 1.5em;
}
.FavoriteContainer {
  display: flex;
  justify-content: space-between;
  height: 96px;
  background: #1a1e1f;
  border-radius: 20px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  width: 100%;
}
.thirdContaner-img img {
  border-radius: 10px;
  width: 63px;
  height: 63px;
}
.thirdContainer-text {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #ffffff;
}
.thirdContainer-text h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #ffffff;
}
.thirdContainer-text p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.5);
}
.thirdContainer-text {
  margin-inline: 1.2em;
}
.thirdContainer-text small {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  margin-top: -1em;
  color: #ffffff;
}
.textContainer-div {
  margin-top: -1.2rem;
}
.thirdContainer-typo img {
  top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.11);
  border-radius: 50%;
  padding: 0.8em;
}
.thirdContainer-typo img:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 50%;
  transition: transform 500ms ease-in-out;
  border: 2.5px solid rgba(255, 255, 255, 0.11);
}

@media (max-width: 968px) {
  .FirstContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigate-container {
    position: absolute;
  }
  .personal-info-container {
    background: none;
    gap: 5px;
  }
  .navigate-div-container {
    background: none;
    gap: 5px;
    width: 70px;
  }
  .img {
    display: flex;
  }
  .img h4 {
    display: initial;
    color: white;
    margin-left: 1rem;
    font-size: 16px;
    letter-spacing: 1.2px;
    white-space: nowrap;
  }
  .NavigateContainer {
    margin-top: 1rem;
  }
  .secondContainer {
    width: 90%;
    display: flex;
  }
  .imgCont img {
    height: 8rem;
    margin-left: -4.1em;
  }
  .bgIMAGE {
    display: block;
  }
  .NavigateContainer {
    display: none;
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .imgEllipse {
    display: flex;
    justify-content: flex-start;
  }
  .love img {
    margin-left: 1.5rem;
  }
  .imgCont .imgCont-img {
    height: 8rem;
  }
  .align-container {
    margin-left: 0;
  }
  .thirdContainer > h1 {
    text-align: left;
    margin: 1em 1em;
  }
  .FavoriteContainer {
    flex-direction: column;
    height: 233px;
    width: 100vw;
    overflow: hidden;
  }
  .thirdContainer-text {
    margin: 0;
  }
  .thirdContainer-typo {
    transform: translate(80%, -350%);
  }
}

@media (min-width: 950px) and (max-width: 1250px) {
  .imgCont .imgCont-img {
    display: none;
    position: relative;
    left: -15rem;
  }
  .bgIMAGE {
    left: -2rem;
    top: -200px;
  }
}
